<nav class="scvo-link-bar">
  <div class="container text-right">
    <ul>
      <li class="brand-scvo">
        <a class="text-link" href="https://scvo.scot">SCVO</a>
      </li>
      <li class="brand-scvo">
        <a class="text-link" href="https://scvo.scot/membership">Membership</a>
      </li>
      {{!-- <li class="brand-scvo">
        <a class="text-link" href="https://scvo.scot/policy/campaigns/running-costs-crisis" title="">#RunningCostsCrisis</a>
      </li> --}}
      <li class="brand-gathering">
        <a class="text-link" href="https://scvo.scot/the-gathering" title="">Gathering</a>
      </li>
      <li class="brand-scvo">
        <a class="text-link" href="https://scvo.scot/scottish-charity-awards" title="">Charity Awards</a>
      </li>
      <li class="brand-fundingscotland">
        <a class="text-link" href="https://funding.scot">Funding Scotland</a>
      </li>
      <li class="brand-goodmoves">
        <a class="text-link{{#if (contains @root.request.url.hostname 'goodmoves.')}} active{{/if}}" href="https://goodmoves.org">Goodmoves</a>
      </li>
      <li class="brand-tfn">
        <a class="text-link" href="https://tfn.scot" title="Third Force News">TFN</a>
      </li>
      <li class="brand-scvo l-margin r-margin-full">
        <a class="pull-right brand-logo no-ext no-underline" href="https://scvo.scot">
          <img src="{{~>asset_url url='images/logos/scvo-secondary.svg'}}" />
        </a>
      </li>
    </ul>
  </div>
</nav>
