<nav class="scvo-link-bar">
  <div class="container text-right">
    <ul>
      <li class="brand-coronavirus">
        <a class="text-link{{#ifAll (contains @root.request.url.hostname 'scvo.') (contains @root.request.params.path 'coronavirus')}} active{{/ifAll}}" href="{{#unless (contains @root.request.url.hostname 'scvo.')}}https://scvo.scot{{/unless}}/support/coronavirus">Coronavirus Info Hub</a>
      </li>
      <li class="brand-fundingscotland">
        <a class="text-link{{#ifAny (contains @root.request.url.hostname 'funding') (contains @root.request.url.hostname 'fs-')}} active{{/ifAny}}" href="https://fundingscotland.com" title="">Funding Scotland</a>
      </li>
      <li class="brand-goodmoves">
        <a class="text-link{{#if (contains @root.request.url.hostname 'goodmoves.')}} active{{/if}}" href="https://goodmoves.com" title="">Goodmoves</a>
      </li>
      <li class="brand-tfn">
        <a class="text-link{{#if (contains @root.request.url.hostname 'tfn.scot')}} active{{/if}}" href="https://tfn.scot" title="">TFN</a>
      </li>
      <li class="brand-scvo">
        <a class="text-link{{#ifAll (contains @root.request.url.hostname 'scvo.') (contains @root.request.params.path 'about_membership')}} active{{/ifAll}}" href="{{#unless (contains @root.request.url.hostname 'scvo.')}}https://scvo.scot{{/unless}}/about/membership" title="">SCVO Membership</a>
      </li>
      <li class="brand-scvo l-margin r-margin">
        <a class="pull-right brand-logo no-ext no-underline{{#if (contains @root.request.url.hostname 'scvo.')}} active{{/if}} l-margin" href="{{#unless (contains @root.request.url.hostname 'scvo.')}}https://scvo.scot{{else}}/{{/unless}}">
          <img src="{{~>asset_url url='images/logos/scvo-secondary.svg'}}" />
        </a>
      </li>
    </ul>
  </div>
</nav>