$unit:1rem;

@import "../node_modules/leaflet/dist/leaflet.css";
@import "../node_modules/leaflet.markercluster/dist/MarkerCluster.Default.css";
@import "../node_modules/leaflet.markercluster/dist/MarkerCluster.css";

.full-width {
  width: 100%;
}

//Utility classes
.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-centre {
  text-align: center;
}

.text-justify {
  text-align: justify;
}

.pull-right {
  float: right;
}

.pull-left {
  float: left;
}

.pull-centre {
  margin-left: auto !important;
  margin-right: auto !important;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.align-centre {
  display: flex;
  justify-content: center !important;
  align-items: center;
}

.v-padding {
  padding-top: $unit/2 !important;
  padding-bottom: $unit/2 !important;
}

.v-padding-full {
  padding-top: $unit !important;
  padding-bottom: $unit !important;
}

.h-padding {
  padding-left: $unit/2 !important;
  padding-right: $unit/2 !important;
}

.h-padding-full {
  padding-left: $unit !important;
  padding-right: $unit !important;
}

.x-padding {
  padding: $unit/2 !important;
}

.x-padding-full {
  padding: $unit !important;
}

.t-padding {
  padding-top: $unit/2 !important;
}

.b-padding {
  padding-bottom: $unit/2 !important;
}

.l-padding {
  padding-left: $unit/2 !important;
}

.r-padding {
  padding-right: $unit/2 !important;
}

.t-padding-full {
  padding-top: $unit !important;
}

.b-padding-full {
  padding-bottom: $unit !important;
}

.l-padding-full {
  padding-left: $unit !important;
}

.r-padding-full {
  padding-right: $unit !important;
}

.v-margin {
  margin-top: $unit/2 !important;
  margin-bottom: $unit/2 !important;
}

.v-margin-full {
  margin-top: $unit !important;
  margin-bottom: $unit !important;
}

.v-margin-full-bottom {
  margin-bottom: $unit !important;
}

.v-margin-none {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.h-margin {
  margin-left: $unit/2 !important;
  margin-right: $unit/2 !important;
}

.h-margin-full {
  margin-left: $unit !important;
  margin-right: $unit !important;
}

.t-margin {
  margin-top: $unit/2 !important;
}

.b-margin {
  margin-bottom: $unit/2 !important;
}

.l-margin {
  margin-left: $unit/2 !important;
}

.r-margin {
  margin-right: $unit/2 !important;
}

.t-margin-full {
  margin-top: $unit !important;
}

.b-margin-full {
  margin-bottom: $unit !important;
}

.l-margin-full {
  margin-left: $unit !important;
}

.r-margin-full {
  margin-right: $unit !important;
}

.x-margin {
  margin: $unit/2 !important;
}

.x-margin-full {
  margin: $unit !important;
}

.border {
  border-style: solid;
  border-width: 1px;
}

.t-border {
  border-top-style: solid;
  border-top-width: 1px;
}

.l-border {
  border-left-style: solid;
  border-left-width: 1px;
}

.b-border {
  border-bottom-style: solid;
  border-bottom-width: 1px;
}

.r-border {
  border-right-style: solid;
  border-right-width: 1px;
}

.rounded {
  border-radius: 4px;
}

.tl-rounded {
  border-top-left-radius: 4px;
}

.tr-rounded {
  border-top-right-radius: 4px;
}

.bl-rounded {
  border-bottom-left-radius: 4px;
}

.br-rounded {
  border-bottom-right-radius: 4px;
}

.t-rounded {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.l-rounded {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.b-rounded {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.r-rounded {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.rounded-full {
  border-radius: 16px;
}

.tl-rounded-full {
  border-top-left-radius: 16px;
}

.tr-rounded-full {
  border-top-right-radius: 16px;
}

.bl-rounded-full {
  border-bottom-left-radius: 16px;
}

.br-rounded-full {
  border-bottom-right-radius: 16px;
}

.t-rounded-full {
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

.l-rounded-full {
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;
}

.b-rounded-full {
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
}

.r-rounded-full {
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
}